{% extends "base.html" %}
      
 {% block content %}
<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
    color: white;
  }
</style>

    <header class="masthead" style="background-color: rgb(175, 51, 51);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class=" col-md-0 col-md-0 mx-auto">
                  <div class="site-heading">
                    <center>
                    <h3 class=" site-heading my-4 mt-0 text-white"> TJHSST Blog</h3>
                    </p>
                  </center>
                </div>
                    </div>
                  </div>
                </div>
            </div>
              </header>
              <center>
            <div class="container">
                <div class="row">
      
              <!-- Blog Entries Column -->

              <div class="col-md-0 mt-3 central" style="align-items: center;">
                    {% for post in post_list %}
                <div class="card mb-4" >
                  <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }}</p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <!-- <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a> -->
                  </div>
                 
                </div>
                {% endfor %}
            </div>
                <!-- {% block sidebar %}
                {% include 'sidebar.html' %}
                {% endblock sidebar %} -->
            </div>
          </center>

        </div>
{%endblock%}
